.dimensions {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.information,
.hidden {
    position: absolute;
    margin-top: 25px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    align-self: start;
    background: rgba(0, 0, 0, .5);
    padding: .5rem;
}

.information {
    // display: block;
    opacity: 1;
    transition-duration: .7s;
    transition-property: opacity;
}

.hidden {
    opacity: 0;
    transition-duration: .7s;
    transition-property: opacity;
}