.list {
    position: relative;
    margin-top: 56px;
    width: 165px;
    height: 100%;
    &::before {
        position: absolute;
        content: '';
        background-image: url('../../layout-images/drawer-small.jpg');
        background-size: cover;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.5;
    }
}


@media screen and ( min-width: 600px ) {
    .list {
        margin-top: 64px;
    }
}