// MODAL WRAPPER
.modalWrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

// MODAL CLOSE BUTTON
.close {
    margin-right: 1rem;
    // align-self: flex-end;
    z-index: 50;
    background: rgba(255, 255, 255, .3);
    color: white;
    padding: .5rem .5rem .3rem .5rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
        &:focus {
            background: radial-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .9));
        }
        &:hover {
            cursor: pointer;
        }
}


// PHOTO INFORMATION POPUP STYLES
.information,
.hidden {
    position: absolute;
    border-radius: 3px;
    width: 80%;
    left: 50%;
    top: -55%;
    transform: translate(-50%);
    color: white;
    align-self: start;
    background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .9));
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.information {
    opacity: 1;
    transition-duration: .3s;
    transition-property: opacity;
}

.hidden {
    opacity: 0;
    transition-duration: .7s;
    transition-property: opacity;
}

// FORWARD AND BACK BUTTON STYLES
.mobileButton,
.buttonForward,
.buttonBack {
    color: white;
    display: flex;
    border-radius: 3px;
    border: none;
    background: transparent;
}

.mobileButton {
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.buttonForward,
.buttonBack {
    transition: .3s;
    &:hover {
        background: rgba(16, 16, 16, 0.776);
        cursor: pointer;
    }
    &:focus {
        background: rgba(16, 16, 16, 1);
        outline: none;
    }
}

.back,
.forward {
    position: absolute;
    z-index: 1001;
    // top: 150%;
    
}

.back {
    justify-self: flex-end;

    left: 30%;
}

.forward {
    right: 30%;
}

@media screen and (orientation: portrait) {
    // PHOTO ORIENTATION - PORTRAIT
    .close {
        position: absolute;
        top: -22%;
        right: 1%;
    }

    .portrait {
        width: 90%;
        margin-bottom: 125px;
    }

    // PHOTO ORIENTATION - LANDSCAPE
    .landscape {
        width: 100%;
    }

    .forward,
    .back {
        top: 90%;
    }
}

// LANDSCAPE MOBILE STYLES
@media screen and (orientation: landscape) {
    .modalWrapper {
        height: 100%;
    }

    .imageWrapper {
        // max-height: 100%;
        max-width: 90%;
    }

    .portrait {
        // max-height: 100%;
        max-width: 45%;
    }

    .landscape {
        max-width: 85%;
    }

    .back,
    .forward {
        display: none;
        position: relative;
        top: 0;
    }

    .back {
        left: 0;
        // margin-right: auto;
        padding: .7rem .5rem .7rem .2rem;  
    }

    .forward {
        right: 0;
        // margin-left: 1rem;
        padding: .7rem .2rem .7rem .5rem;
    }

    .close {
        position: absolute;
        top: 2.5%; 
        right: .5%;
    }

    .information {
        top: 5%;
        left: 30%;
        width: 50%;
        // margin-top: 25px;
    }
}

// DISABLE CYCLE BUTTON
.disable {
    color: rgba(0, 0, 0, 0);
}

@media screen and (orientation: portrait) and (min-width: 430px) {
    .information {
        top: -45%;
    }

    .close {
        top: -75%;
    }
}

@media screen and (orientation: portrait) and (min-width: 530px) {
    .information {
        top: -35%;
    }

    .close {
        top: -55%;
    }
}



@media screen and (min-width: 1280px) and (orientation: landscape) {
    .modalWrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .back,
    .forward {
        display: inline-block;
    }

    .back {
        margin-left: 1rem;
    }

    .forward {
        margin-right: 1rem;
    }

    .imageWrapper {
        width: 90%;
    }
}