.close {
    position: absolute;
    z-index: 50;
    top: -85%;
    right: 5%;
    // background: rgba(16, 16, 16, 0.9);
    background: rgba(255, 255, 255, .3);
    color: white;
    padding: .7rem .8rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    // font-weight: bold;
}

.dimensions {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.information,
.hidden {
    position: absolute;
    // margin-top: 25px;
    border-radius: 3px;
    width: 80%;
    left: 50%;
    top: -55%;
    transform: translate(-50%);
    color: white;
    align-self: start;
    background: rgba(0, 0, 0, .9);
    padding: 1.5rem;
}

.information {
    opacity: 1;
    transition-duration: .3s;
    transition-property: opacity;
}

.hidden {
    opacity: 0;
    transition-duration: .7s;
    transition-property: opacity;
}

// FORWARD AND BACK BUTTON STYLES
.buttonForward,
.buttonBack {
    color: white;
    display: flex;
    border-radius: 3px;
}

.buttonForward,
.buttonBack {
    transition: .3s;
        &:hover {
            background: rgba(16, 16, 16, 0.776);
            cursor: pointer;
        }
}

.back,
.forward {
    position: absolute;
    z-index: 1;
    top: 110%;
    
}

.back {
    left: 30%;
}

.forward {
    right: 30%;
}

// .back {
//     margin-right: 1rem;
//     padding: .7rem .5rem .7rem .2rem;    
// }

// .forward {
//     margin-left: 1rem;
//     padding: .7rem .2rem .7rem .5rem;
// }

.disable {
    color: rgba(0, 0, 0, 0);
}