.modalBox {
    transform: translateY(20%);
    margin-top: -135px;
}

@media screen and (orientation: landscape) {
    .modalBox {
        transform: translateY(0);
        max-height: 75%;
        margin-top: 0px;
    }
}